# Variables d'environnement - Projet Joris Frontend

# URL de l'API backend
VITE_API_URL=http://localhost:3000

# URL du frontend (pour les redirections)
VITE_APP_URL=http://localhost:5173

# Mode (development | production)
VITE_MODE=development
